[submodule "boost"]
	path = boost
	url = https://github.com/LeeL-Systems/boost.git
  ignore = dirty
[submodule "googletest"]
	path = googletest
	url = https://github.com/LeeL-Systems/googletest.git
  ignore = dirty
[submodule "styleguide"]
	path = styleguide
	url = https://github.com/LeeL-Systems/styleguide.git
  ignore = dirty
[submodule "Boost-Pretty-Printer"]
	path = Boost-Pretty-Printer
	url = https://github.com/ruediger/Boost-Pretty-Printer.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/miloyip/rapidjson.git
